{% extends 'base.html' %}
{% block title %}Resetowanie hasła - Czy na pewno?{% endblock %}
{% block content %}
<main class='col-md-6 offset-md-3'>
    {% if form.errors %}
    <div class='alert alert-danger'>{{ form.errors }}</div>
    {% endif %}
    <h1 class='mb-4'>Czy na pewno chcesz zresetować swoje hasło?</h1>
    <form name='password_reset' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <label class='form_label' for='email'>Email</label>
        <input type="email" class="form-control mb-2" name="email" required maxlength="254" autocomplete="email" id='email'> {% endcomment %}
        <button type="submit" class='btn btn-primary w-100'>Zmień hasło</button>
    </form>
</main>
{% endblock %}