{% extends 'base.html' %}
{% block title %}Zmiana hasła{% endblock %}
{% block content %}
<main class='col-md-6 offset-md-3'>
    {% if form.errors %}
    <div class='alert alert-danger'>{{ form.errors }}</div>
    {% endif %}
    <h1 class='mb-4'>Tutaj możesz zmienić swoje hasło</h1>
    <form name='password_change' method='post'>
        {% csrf_token %}
        <label class='form_label' for='old_password'>Bieżące hasło</label>
        <input type="password" class="form-control mb-2" name="old_password" id='old_password'>
        <label class='form_label' for='new_password1'>Nowe hasło</label>
        <input type="password" class="form-control mb-2" name="new_password1" id='new_password1'>
        <label class='form_label' for='new_password2'>Powtórz nowe hasło</label>
        <input type="password" class="form-control mb-2" name="new_password2" id='new_password2'>
        <button type="submit" class='btn btn-primary w-100'>Zmień hasło</button>
    </form>
</main>
{% endblock %}