{% load static %}
<!DOCTYPE html>
<html lang='pl' dir='ltr'>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | beTogether</title>
    <meta name="author" content="Szymon Siemieniuk">
    <meta name="description" content="Swobodnie wyrażaj swoje poglądy. Wszystko co nie zakazane jest dozwolone. beTogether, większej swobody nie zaznasz">
    <meta name="keywords" content="betogether, portal społecznościowy, social media, betogether portal, swobodny portal, polski portal społecznościowy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/accessibility.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
  </head>
  <body>
    <div id='container'>
      <header>
        <div id='hamburger'></div>
        <a href='/'><img src="{% static 'img/logo.png' %}" alt='logo witryny' id='logo' title='Przejdź na stronę główną'></a>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Zarejestruj</a></li>
            <li><a href="{% url 'login' %}">Zaloguj</a></li>
            {% endif %}
            <li>
              <div>
                <button class='btn--accessibility' id='darktheme' title='włącz/wyłącz ciemny motyw'></button>
                <button class='btn--accessibility' id='serif' title='włącz/wyłącz czcionkę bezszeryfową'></button>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      {% block content %}{% endblock %}
      <footer>
        <hr>
        <div>&copy; 2021, all rights reserved and beyonds to beTogether. Created by Szymon Siemieniuk.</div>
        <nav>
          <a href={% url 'terms_and_conditions' %}>Regulamin serwisu</a>
          <a href='/'>Strona główna</a>
        </nav>
      </footer>
    </div>
  </body>
</html>