{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
      <main id='start'>
{% if logout %}
        <div class='msg-block msg--success'>Pomyślnie wylogowano!</div>
{% endif %}
        <h1>Witamy na naszej (Waszej!) platformie!</h1>
        <div id='index_buttons'>
          <a href={% url 'login' %}><button class='btn btn-primary'>Zaloguj</button></a>
          <a href={% url 'register' %}><button class='btn btn-outline-primary'>Stwórz konto</button></a>
        </div>
        <hr>
        <section title='hello'>
          <div class="card row mb-1 rounded-3">
            <div class="card-body">
              <div class="col-12 col-md-9">To nie żart, ta platforma jest miejscem,<br>które Wy jako społeczność sami tworzycie!</div>
              <div class="col-12 col-md-3" style="background-color: gray;">TEST</div>
            </div>
          </div>
          <div class="card row mb-1 rounded-3">
            <div class="card-body">
              <div class="col-12 col-md-3" style="background-color: gray;">TEST</div>
              <p class="col-12 col-md-9">Nazwa serwisu nie jest przypadkowa.<br>Jest to miejsce, w którym razem spędzimy wspólny czas: na żartowaniu, plotkowaniu, rozmowie.</p>
            </div>
          </div>
          <div class="card row mb-1 rounded-3">
            <div class="card-body">
              <p class="col-12 col-md-9">Wymieniaj się postami i wspomnieniami, głosuj na najlepsze (i najgorze) wpisy. Możliwości są nieograniczone.</p>
              <div class="col-12 col-md-3" style="background-color: gray;">TEST</div>
            </div>
          </div>
          <div class="card row mb-1">
            <p class="col-12 col-md-6">Na co zwlekasz? Bądźmy razem!</p>
          </div>
        </section>
      </main>
{% endblock %}