{% extends 'base.html' %}
{% block title %}Rejestracja nowego użytkownika{% endblock %}
{% block content %}
      {% for e in errors %}
      <div> {{e}} </div>
      {% endfor %}
      <form action='register' name='register' method='post'>
        {% csrf_token %}
        <div class='col col-lg-6 mx-auto'>
          <div class='row mb-3'>
              <div class='col'>
                  <input type='text' name='first_name' class='form-control' placeholder='Imię'>
              </div>
              <div class='col'>
                  <input type='text' name='last_name' class='form-control' placeholder='Nazwisko'>
              </div>
          </div>
          <input type='text' name='username' class='form-control mb-3' placeholder='Nazwa użytkownika'>
          <input type='email' name='email' class='form-control mb-3' placeholder='Email'>
          <input type='password' name='password' class='form-control mb-3' placeholder='Hasło'>
          <input type='password' name='password2' class='form-control mb-2' placeholder='Powtórz hasło'>
          <div class='form-group mb-3'>
            <label for='birthdate'>Data urodzenia</label>
            <input type='date' name='birth_date' class='form-control' id='birthdate'>
          </div>
          <div class='form-check mb-3'>
            <label class='form-check-label' for='agreement'>Zapoznałem się z <a href={% url 'terms_and_conditions' %}>regulaminem serwisu</a> i akceptuję zawartość.</label>
            <input class='form-check-input' type='checkbox' name='agreement' id='agreement'>
          </div>
          <div class='text-end'>
            <div class='form-group'>
              <input type='reset' class='btn btn-secondary'>
              <button type='submit' class='btn btn-primary'>Zarejestruj</button>
            </div>
          </div>
        </div>
      </form>
{% endblock %}